@tailwind base;
@tailwind components;
@tailwind utilities;

#mainContainer {
    scroll-behavior: smooth;
}

#playerField,
#computerField,
.shipPlacementBoard {
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    gap: 2px;
    position: relative;
}

.grid-item {
    height: 50px;
    width: 50px;
    border: solid white 0.1px;
    position: relative;
}

#computerField:not(.game-over) .grid-item:hover {
    background-color: rgba(54, 206, 54, 0.5);
    cursor: pointer;
}

#computerField:not(.game-over) .used-item:hover {
    background-color: transparent;
    cursor: not-allowed;
}

.game-over {
    pointer-events: none;
}

.overlay {
    position: absolute;
    z-index: -1;
}

.length3Ship {
    object-fit: cover;
    width: 125px;
}

.length4Ship {
    width: 185px;
}

.length5Ship {
    width: 225px;
}

.length2Ship {
    width: 100px;
    height: 50px !important;
}

.shot-hit,
.shot-missed {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shot-missed {
    background-color: #ffffffd6;
}

.shot-hit {
    background-color: red;
}

.good-placement {
    background-color: yellow;
    cursor: pointer;
}

.bad-placement {
    background-color: red;
    cursor: not-allowed;
}

.manualShipPlacementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.axis-button {
    background-color: peachpuff;
    height: 50px;
    border-radius: 10px;
    width: 150px;
}

#endOfGameContainer {
    position: absolute;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: inherit;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    align-items: center;
}

div#endOfGameOptions button {
    background-color: #2875b2;
    height: 60px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid black;
}

.manualShipPlacementBoard {
    display: flex;
    position: relative;
}

.practice {
    position: absolute;
    left: 525px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
}

.practice * {
    margin: 0 auto;
}

.manualShipPlaceholders {
    scale: 0.9;
    cursor: pointer;
}

.manualShipPlaceholders:hover {
    scale: 0.95;
}

.manualShipPlaceholders.selected {
    scale: 1;
    filter: drop-shadow(0 0 5px rgb(145, 43, 77));
}

.manualShipPlaceholders:not(.selected) {
    opacity: 0.7;
}

button.refreshButton {
    margin-top: auto;
    position: absolute;
    border: 2px solid black;
    top: 110%;
    left: 120%;
    transform: translateX(-50%);
    padding: 6px 12px;
    border-radius: 45%;
    font-size: 16px;
}

img.length2Ship.manualShipPlaceholders {
    grid-column: 1;
    grid-row: 1;
}

.length3Ship.manualShipPlaceholders:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
}

img.length4Ship.manualShipPlaceholders {
    grid-column: 1;
    grid-row: 2;
}

img.length5Ship.manualShipPlaceholders {
    grid-column: 3;
    grid-row: 2;
}

.axisButtonSVG {
    height: 75%;
    display: inline;
}

@media (max-width: 1084px) {
    #playerField,
    #computerField,
    .shipPlacementBoard {
        grid-template-columns: repeat(10, minmax(35px, 35px));
    }

    .shot-hit,
    .shot-missed {
        width: 15px;
        height: 15px;
    }

    .grid-item {
        height: 35px;
        width: 35px;
    }

    .length3Ship {
        width: 87.5px;
    }

    .length4Ship {
        width: 129.5px;
    }

    .length5Ship {
        width: 157.5px;
    }

    .length2Ship {
        width: 70px;
        height: 35px !important;
    }

    .practice {
        display: grid;
        grid-template-columns: repeat(3, 130px);
        grid-template-rows: repeat(2, 50px);
        align-items: center;
        top: 102%;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: max-content;
    }

    button.refreshButton {
        top: 150%;
        left: 50%;
    }
}
