@tailwind base;
@tailwind components;
@tailwind utilities;

#playerField,
#computerField,
.shipPlacementBoard {
    grid-template-columns: repeat(10, minmax(50px, 50px));
    gap: 2px;
    position: relative;
}

.grid-item {
    height: 50px;
    width: 50px;
    border: solid white 0.1px;
    position: relative;
}

#computerField:not(.game-over) .grid-item:hover {
    background-color: rgba(54, 206, 54, 0.5);
    cursor: pointer;
}

#computerField .used-item,
#playerField .used-item {
    background-color: rgb(128, 128, 128, 0.5);
}

#computerField:not(.game-over) .used-item:hover {
    background-color: rgb(128, 128, 128, 0.5);
    cursor: not-allowed;
}

.overlay {
    position: absolute;
    z-index: -1;
}

.length3Ship {
    object-fit: cover;
    width: 125px;
}

.length4Ship {
    width: 185px;
}

.length5Ship {
    width: 225px;
}

.length2Ship {
    width: 100px;
    height: 50px !important;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffffd6;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.good-placement {
    background-color: yellow;
    cursor: pointer;
}

.bad-placement {
    background-color: red;
    cursor: not-allowed;
}

.axis-button {
    display: grid;
    background-color: peachpuff;
    height: 50px;
    border-radius: 10px;
    width: 150px;
}
